@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.сards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
  grid-gap: 1.2rem;

  list-style: none;
}