.spaceBetweenWrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;

  & > * {
    width: 100%;
  }
} 

.firstStepForm {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.genderWrapper {
  display: flex;
  justify-content: flex-end;
}

.secondStepForm {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.thirdStepForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 10px;
}