@import '~style/colors';
@import '~style/typography';

.multiSelect {
  padding: 0;
  height: auto;
  min-height: 40px;

  &Focused {
    border: 1px solid $blue-color;

    &:hover {
      border: 1px solid $blue-color;
    }

    &::placeholder {
      color: $dark-gray-color;
    }
  }
}
