@import '~style/variables';
@import '~style/mixins';

.appWrapper {
  display: flex;
  margin: 30px 0;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainAppContainer {
  max-width: $app-container-max-width;
  width: 85%;
}
