@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.section {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.searchForm {
  @include base-wrapper();
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 35px;
}

.сards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
  grid-gap: 1.2rem;

  list-style: none;
}