@import '~style/colors';
@import '~style/mixins';
@import '~style/variables';
@import '~style/typography';

.modal {
  @include base-wrapper();
  padding: 50px 70px;
  width: 600px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.heading {
  @extend .h1-typography;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  &Row {
    display: flex;
    gap: 5px;
    align-items: center;

    &Title {
      font-weight: 600;
    }
  }
}