@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.card {
  @include base-wrapper();
  display: flex;
  justify-content: space-between;
  width: 495px;
  height: 240px;
  padding: 25px 30px 25px 35px;
  color: $black-color;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 215px;
}

.eventImage {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.date {
  display: flex;
  column-gap: 7px;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 0;
}

.headingDescription {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.heading {
  font-weight: 600;
  font-size: 16px;
  @include multiline-ellipsis(2);
}

.description {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  @include multiline-ellipsis(7);
}

.users {
  display: flex;
  margin-left: 16px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $white-color;
    margin-left: -16px;
    object-fit: cover;
  }
}

.restCounter {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -16px;
  background: $blue-gradient-color;
  font-weight: 400;
  font-size: 11px;
  color: $white-color;
}