@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.card {
  @include base-wrapper();
  display: flex;
  justify-content: space-between;
  width: 495px;
  padding: 30px;

  color: $black-color;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 230px;
}


.eventImage {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.date {
  display: flex;
  column-gap: 8px;
  align-items: center;

  font-weight: 400;
  font-size: 13px;
}

.headingDescription {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.heading {
  font-weight: 600;
  font-size: 16px;

  @include multiline-ellipsis(2);
}

.description {
  font-weight: 300;
  font-size: 13px;

  @include multiline-ellipsis(4);
}

.users {
  display: flex;
  margin-left: 16px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $white-color;
    margin-left: -16px;

    object-fit: cover;
  }
}

.restCounter {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -16px;

  background: $blue-gradient-color;

  font-weight: 400;
  font-size: 11px;
  color: $white-color;
}