/* Primary */

$blue-color: #203DAC;
$blue-gradient-color: linear-gradient(90deg, #2C5FC0 0%, #131896 100%);

/* Neutral */

$black-color: #202020;
$white-color: #FFFFFF;
$light-gray-color: #F6F8F8;
$gray-color: #EEEEEE;
$dark-gray-color: #DEDEDE;

/* Shadows */

$outer-shadow-color: rgba(184, 184, 184, 0.25);
$inner-button-shadow-color: rgba(19, 12, 91, 0.5);
$outer-button-shadow-color: rgba(16, 41, 86, 0.2);

/* Additional */

$background-color: linear-gradient(90deg, #E6E6F3 0.02%, #F8FBFD 0.03%, #E9EEF5 99.9%);
$red-color: #BE2F2F;
$green-color: #1E9F33;
