@import '~normalize.css/normalize.css';
@import './colors';
@import './typography';
@import './mixins';
@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font-family;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 5px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #ccccce;
  border: solid 5px transparent;
  border-radius: 14px;
}

::-webkit-scrollbar-button {
  display: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  background: $background-color;
  overflow-y: scroll;
}

.blue {
  color: $blue-color;
}

.amount {
  font-weight: 300;
}

.heading-H1 {
  @extend .h1-typography;
}

.heading-H2 {
  @extend .h2-typography;
}

.heading-H3 {
  @extend .h3-typography;
}

.heading-H4 {
  @extend .h4-typography;
}

.paragraph {
  @extend .p-typography;
}

