.form {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.formInputs {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.multiselects {
  display: flex;
  align-items: center;
  column-gap: 10px;

  [class*=MultiSelect] {
    width: 210px;
  }
}

.genders {
  display: flex;
  align-items: center;
  column-gap: 10px;  
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

