.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 45px;
}

.formInputs {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.multiselects {
  display: flex;
  align-items: center;
  column-gap: 10px;

  [class*=Select] {
    width: 210px;
  }
}

.genders {
  display: flex;
  align-items: center;
  column-gap: 5px;  
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

