@import '~style/colors';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submitButton {
  margin-top: 20px;
}