@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.container {
  position: relative;

  width: 100%;

  .textArea {
    resize: none;
    overflow: hidden;
    height: inherit;
    padding-bottom: 30px;
  }
}

.counter {
  position: absolute;
  right: 13px;
  bottom: 13px;

  font-family: $primary-font-family;
  font-weight: 400;
  font-size: 12px;
  color: $dark-gray-color;

  .letterCount {
    font-weight: 500;
  }
}
