@import '~style/colors';

.tab {
  position: relative;

  display: flex;
  justify-content: center;
  padding-bottom: 15px;

  font-weight: 300;
  font-size: 14px;

  color: $black-color;

  &.active {
    font-weight: 500;
  }
}