.password {
  &Field {
    position: relative;
  }

  &Input {
    padding: 0 35px 0 12px;
  }
}

.eyeImage {
  position: absolute;
  bottom: 10px;
  right: 10px; 

  &:hover {
    cursor: pointer;
  }
}