@import '~style/colors';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, $blue-color 94%,#0000) top/9px 9px no-repeat,
         conic-gradient(#0000 30%, $blue-color);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;

  &.small {
    width: 30px;
    height: 30px;
  }
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}