@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.userPageSection {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.userInfo {
  @include base-wrapper();
  display: flex;
  justify-content: space-between;
  width: 690px;
  height: calc(100% - 80px);

}

.questionnairePhotoWrapper {
  width: 220px;
  margin-top: -80px;
  height: calc(100% - 80px)
}

.headingH1 {
  @extend .h1-typography;
}

.headingH2 {
  @extend .h2-typography;
}

.userPhoto {
  width: 100%;
  height: 30%;
  margin-bottom: 15px;
  object-fit: cover;
  
  border: 5px solid $white-color;
  border-radius: 15px;
}

.questionnaireHeading {
  margin-top: 40px;
}

.questionnairesWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-top: 25px;
}

.questionnaire {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  &Row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    width: 100%;

    color: $black-color;

    .subject {
      font-weight: 500;
      font-size: 12px;
    }

    .description {
      font-weight: 300;
      font-size: 12px;
    }
  }
}

.briefInterestsWrapper {
  width: 315px;
}

.brief {

}

.nicknameCityWrapper {

}

.description {

}

.interests {

}

.interestsTags {

}

.matchRate {

}

.userInvites {
  height: 100px;
  width: 240px;
  background-color: rgb(255, 251, 0);
}